@import '../../styles/variables.module.scss';
@import '../../styles/mixins.module.scss';

.formButton {
  @include button;
  overflow-y: hidden;
}

.loader {
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;

  &:before {
    content: '';
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 3px solid $border;
    border-top-color: $primary;
    animation: loading 0.7s linear infinite;
    @keyframes loading {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
