@import '../../styles/variables.module.scss';
@import '../../styles/mediaQueries.module.scss';

.episode {
  display: grid;
  grid-gap: 0.5rem;
}
.playButton {
  background: $primary;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  color: $white;
  &:hover {
    background: $danger;
  }
  .icon {
    margin-left: 0.5rem;
  }
}
