@import '../../../styles/variables.module.scss';
@import '../../../styles/mediaQueries.module.scss';

.container {
  display: grid;
  justify-items: center;
  padding: 0.5rem;
  @include tablets {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.episodeContainer {
  padding: 0.5rem;
}
