@import '../../styles/variables.module.scss';
@import '../../styles/mediaQueries.module.scss';
@import '../../styles/mixins.module.scss';

.card {
  width: 10rem;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  border: solid 1px $border;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    height: 7rem;
    width: 100%;
  }
  h4 {
    word-wrap: break-word;
  }
  button {
    @include button;
    width: 100%;
  }
}
